//Font sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$xs-size: 1.0rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$desktop-first-breakpoint: 51rem;
// Colors
$dark-grey: #333;
$my-grey: #666;
$my-blue: #1c88bf;
$my-dark-blue: #364051;
$off-white: #f7f7f7;